<div
  data-controller="modal"
  data-modal-id="<%= modal_id %>"
  id="<%= modal_id %>"
  class="fixed z-10 top-0 left-0 right-0 bottom-0 flex items-center justify-center p-[40px]"
  aria-labelledby="modal-title"
  aria-modal="true"
  role="dialog"
>
  <div
    class="bg-neutral-900 absolute top-0 left-0 right-0 bottom-0 opacity-50"
    data-action="click->modal#close"
  ></div>
  <section class="relative bg-white shadow-xl rounded-2xl w-full max-w-xl overflow-hidden">
    <div class="py-6 border-b border-gray-300 border-solid relative flex items-center justify-center">
      <button class="text-gray-800 p-3 rounded-full hover:bg-gray-100 focus:bg-gray-100 absolute left-3">
        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;"><path d="m6 6 20 20"></path><path d="m26 6-20 20"></path></svg>
      </button>
      <h1 class="text-md font-semibold" id="modal-title"><%= modal_title %></h1>
    </div>

    <div class="overflow-auto max-h-[calc(100vh-152px)]">
      <div class="p-6">
        <%= render modal_content %>
      </div>
    </div>
  </section>
</div>
